{% extends "myapp/base.html" %}

{% block content %}
    <h1>Acerca de mi</h1>
    <p>Hola! soy Ivan Gimenez, un desarrollador web apasionado por la tecnología y el aprendizaje continuo. Actualmente soy un estudiante de
    CoderHouse y este es mi proyecto final.</p>
    <p>Me encanta crear aplicaciones web y explorar nuevas herramientas y frameworks.</p>
    <p>En mi tiempo libre, disfruto de la lectura y los deportes como futbol o trekking.</p>
    <p>¡Gracias por visitar mi página!</p>
{% endblock content %}